/* ***** */
/* VARS */
/* ***** */
@font-face {
  font-family: Inter;
  src: url("../fonts/static/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/static/Inter-ExtraBold.ttf");
  font-weight: 900;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/static/Inter-Bold.ttf");
  font-weight: 700;
}

:root {
  /* #### COLORS #### */
  /* General */
  --clr-body-color: black; /* Main text color */
  --clr-body-bg: white; /* Main background */
  /* Primary */
  --clr-soft-orange: hsl(35, 77%, 62%);
  --clr-red: hsl(5, 85%, 63%);

  /* Neutral */
  --clr-off-white: hsl(36, 100%, 99%);
  --clr-grayish-blue: hsl(233, 8%, 79%);
  --clr-dark-grayish-blue: hsl(236, 13%, 42%);
  --clr-very-dark-blue: hsl(240, 100%, 5%);

  /* Typography */
  --ff-sans-normal: "Inter";
  --fs-900: 2.5rem;
  --fs-800: 2.25rem;
  --fs-700: 1.75rem;
  --fs-600: 1.5rem;
  --fs-500: 1.225rem;
  --fs-400: 1.125rem;
  --fs-300: 0.875rem;
  --fs-200: 0.5rem;
  /* utilities */
  --border-rad: 1rem;
  --line-height: 1.5;
}

/* ***** */
/* Reset */
/* ***** */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  font-size: var(--fs-400, 1.125rem);
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--clr-white, black);
}

body {
  font-family: var(--ff-sans-normal, sans-serif);
  font-size: var(--fs-400, 1.125rem);
  color: var(--clr-body-color, black);
  background-color: var(--clr-body-bg, white);
  line-height: var(--line-height, 1.5);
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

input,
button {
  border: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ********* */
/* UTILITIES */
/* ********* */

/* General utils */

.container {
  padding-inline: 1em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
